trigger:
  branches:
    include:
      - '*'
  paths:
    include:
      - 'https://github.com/gedpal/njsdemoapp1/*'

#- none
#- main
resources:
- repo: self

stages:
- stage: IaC_TF
  displayName: Terraform infrastructure
  jobs:
  - job: Terraform
    displayName: Terraform Deployment
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
        
    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/IaC-tf/'
        backendServiceArm: 'AzureRM-sp-Gediminas-Palskis'
        backendAzureRmResourceGroupName: 'Gediminas_Palskis_rg'
        backendAzureRmStorageAccountName: 'gedpalsa1'
        backendAzureRmContainerName: 'tf-state'
        backendAzureRmKey: 'tf/terraform.tfstate'
      displayName: 'Terraform init'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/IaC-tf/'
        environmentServiceNameAzureRM: 'AzureRM-sp-Gediminas-Palskis'
        commandOptions: '-out=tfplan'
      displayName: 'Terraform plan'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/IaC-tf/'
        environmentServiceNameAzureRM: 'AzureRM-sp-Gediminas-Palskis'
        commandOptions: 'tfplan'
      displayName: 'Terraform apply'

